.footer {
  padding: 60px 250px ;
  display: flex;
  gap:72px 226px;
  flex-wrap: wrap;

}
.li{
    display: grid;
    gap: 10px;
    
}
.li a{
    color: rgba(255, 255, 255, 0.65);
    font-family: SF Pro Display;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
}
.li a:hover{
    color: #FFF;
transition: all 0.3s ease-in-out;
}
.footer h4 {
  color: #fff;
  font-family: SF Pro Display;
  font-size: 35px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-left: 4px;
  padding-bottom: 42px;
}
.form{
    display: grid;
    gap: 18px;
}
.form input{
    width: 400px;
height: 40px;
flex-shrink: 0;
background: #FFF;
padding: 0 20px;
color:rgba(148, 142, 142, 0.65) ;
font-family: SF Pro Display;
font-size: 18px;
}
.form button{
    padding: 10px 35px 10px 35px;
    width: 190px;
    color: #FFF;
    font-family: SF Pro Display;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
flex-shrink: 0;
background: #D79453;
border: none;
}