@font-face {
  font-family: "sf pro display";
  src: url(../font/SF-Pro-Display-Regular.otf);
}
@font-face {
  font-weight: medium;
  font-family: "sf pro display";
  src: url(../font/SF-Pro-Display-Medium.otf);
}
@font-face {
  font-weight: bold;
  font-family: "sf pro display";
  src: url(../font/SF-Pro-Display-Bold.otf);
}
@font-face {
  font-family: "athene";
  src: url(../font/Athene.otf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: sf pro display;
  font-weight: 500;
}
body{
  scroll-behavior: smooth;
}

:root {
  --primary: #411E51;
  --secondary: #D79453;
  --third: #F2F2F2;
}
.container{
  max-width: 1440px;
  margin: 0 auto;
}
footer{
  background: #411E51;
}