.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 109px;
}

.header {
  padding-top: 2px;
  padding-bottom: 2px;
}

.header_inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header_menu a {
  text-decoration: none;
  font-size: 22px;
  margin-right: 40px;
  color: var(--primary);
  transition: 0.1s;
}
.header_menu a:last-child {
  margin-right: 0;
}
.header_menu a:hover {
  color: var(--secondary);
}

.header_cart {
  display: flex;
  align-items: center;
  gap: 15px;
  height: 40px;
}

.header_cart button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: var(--third);
  cursor: pointer;
}
.header_cart button:hover {
  opacity: 0.7;
}
.header_cart button img {
  height: 25px;
}
.header_cart .cart_price {
  width: 120px;
  height: 40px;
  background-color: var(--third);
  font-size: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_cart .cart_price img {
  margin-right: 6px;
  height: 22px;
}
.cart_icon {
  width: 40px;
  height: 40px;
}
.cart_icon img {
  width: 40px;
  height: 40px;
}
.menu {
  background-color: var(--primary);
}

.menu_inner {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 20px 0;
}

.menu_item {
  cursor: pointer;
  transition: 0.2s;
}

.menu_item:hover {
  color: var(--secondary);
}
.sidebar {
  max-width: 1440px;
  margin: 0 auto;
  padding: 10px 60px 0;
  background: #411e51;
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
}
.sidebar .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
}
.sidebar .box p {
  color: #fff;
}
@media (max-width: 1440px) {
  .searchInput {
    display: none;
  }
  .cart_price {
    display: none;
  }
  .sidebar{
    display: none;
  }
}
@media (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
  .header {
    padding: 10px 0;
  }
  .header_logo {
    z-index: 9999;
  }
  .header_inner {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }
  .header_logo{
    width: 80px;
  }
  .header_logo img{
width: 100%;
height: auto;
  }

  .header_cart {
    display: none;
  }
  .cart_price img {
    margin-right: 6px;
    height: 22px;
  }
  .header_menu {
    display: none;
  }
  .searchInput {
    display: inline-flex;
  }
  .menu {
    display: none;
  }
  .sidebar {
    padding-left: 20px;
    padding-right: 20px;
    display: inline-flex;
  }
}
