.shop {
  padding: 82px 70px 0 108px;
  display: grid;
  align-items: center;
  width: 75vw;
}
.vases {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  position: relative;
  width: 600.5px;
  height: 713px;
  flex-shrink: 0;
}
.vases_title {
  position: absolute;
  left: 57px;
  top: 281px;
}
.vases_title h3 {
  color: #fff;
  font-family: Athene;
  font-size: 70px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 23px;
}
.vases_title button {
  padding: 16px 66px 16px 59px;
  background: #d79453;
  color: #fff;
  font-family: SF Pro Display;
  font-size: 25px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
}
.vases img{
  position: absolute;
  left: 0;
  z-index: -1;
  height: 100vh;
}
.bowles {
  grid-column-start: 2;
  grid-column-end: 3;
  position: relative;
  width: 620.5px;
  height: 357px;
  flex-shrink: 0;
}
.bowles img {
  position: absolute;
 left: -37px;
  z-index: -1;
  height: 50vh;
}
.bowles_title {
  position: absolute;
 left: 115px;
  top: 110px;
}
.bowles_title h3 {
  color: #fff;
  font-family: athene;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 18px;
}
.bowles_title button {
  padding: 6px 32px 9px;
  border: none;
  background: #d79453;
  color: #fff;
  font-family: SF Pro Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.exclusivetiles {
  position: relative;
  grid-row-start: 2;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
  width: 700px;
  height: 342px;
  flex-shrink: 0;
}
.exclusivetiles img {
  position: absolute;
left: -115px;
  top: -26px;
  z-index: -1;
  height: 48vh;
}
.exclusivetiles_title {
  position: absolute;
  bottom: 140px;
  right: 190px;
}
.exclusivetiles_title h3 {
  color: #fff;
  font-family: Athene;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 18px;
}
.exclusivetiles_title button {
  padding: 6px 32px 9px;
  border: none;
  background: #d79453;
  color: #fff;
  font-family: SF Pro Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
