.shop {
  width: 1306px;
  height: 713px;
  padding: 122px 85px;
  margin: 0 auto;
  position: relative;
}
.shop_imgs {
  position: relative;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.shop_imgs img {
  width: 100%;
  height: auto;
}
.shop_imgs .vases {
  width: 603.5px;
  z-index: -1;
  flex-shrink: 0;
  grid-column: 1/2;
  grid-row: 1/3;
}
.shop_imgs .bowles {
  width: 571.5px;
  position: absolute;
  top: 0;
  left: 544px;
  flex-shrink: 0;
}
.shop_imgs .tiles {
  width: 647px;
  position: absolute;
  left: 470px;
  top: 320px;
  flex-shrink: 0;
}
.shop_title {
  position: absolute;
  top: 0;
  max-width: 1300px;
  height: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
}
.title1 {
  grid-column: 1/2;
  grid-row: 1/3;
  padding-left: 57px;
}
.title1 h4 {
  color: #fff;
  font-family: Athene;
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 350px;
}
.title1 button {
  width: 230px;
  height: 61px;
  flex-shrink: 0;
  color: #fff;
  font-family: SF Pro Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background: #d79453;
  border: none;
}
.title2 {
  padding-top: 220px;
  padding-left: 220px;
}
.title2 h4 {
  color: #fff;
  font-family: Athene;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.title2 button {
  color: #fff;
  font-family: SF Pro Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  width: 147.049px;
  height: 39px;
  flex-shrink: 0;
  background: #d79453;
}
.title3 {
  padding-top: 200px;
  padding-left: 100px;
}
.title3 h4 {
  color: #fff;
  font-family: Athene;
  font-size: 40px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.title3 button {
  color: #fff;
  font-family: SF Pro Display;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: none;
  width: 147.049px;
  height: 39px;
  flex-shrink: 0;
  background: #d79453;
}
@media (max-width: 992px) {
  .shop {
    display: none;
  }
}
